# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

=======
*.pkl
# Virtual Environments
venv/
env/
.venv/
checkpoints/
# IDE & Editor folders
.vscode/
.idea/

# OS-specific files

# Project-specific ignores

# Ignore large data and output files from version control
test_dataset/
old/
logs/
outputs/
/work3/s233249/ImgiNav/ImgiNav/baseline/outputs
/work3/s233249/ImgiNav/ImgiNav/notebooks/ae_test_outputs/checkpoints
/work3/s233249/ImgiNav/ImgiNav/outputs/baseline_sd_finetuned
*/checkpoints/
src/layout_generator.egg-info
# Environment variables file
.env
.log
*.pt

# dataset files
*.csv
training/runs
visualization/saved_embeddings/
app/