# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# IDE & Editor folders
.vscode/
.idea/

# OS-specific files

# Project-specific ignores

# Ignore large data and output files from version control
dataset/
outputs/
logs/
src/layout_generator.egg-info
# Environment variables file
.env

.log